<a href="#" class="popup-gallery {{{id}}}">{{{popup_link_text}}}</a>
<script type="application/javascript">
    jQuery("body").ready(function() {


        jQuery(".popup-gallery.{{{id}}}").magnificPopup({
            type: 'image',
            items: [
            {{#images}}
                {
                    src: '{{{image_url}}}',
                    title: "<span class='image_name'>{{{name}}}</span><span class='image_description'>{{{description}}}</span>"

                },
            {{/images}}
            ],
            gallery: {
                enabled: true
            },
            callbacks : ElegantSlider
        });
    });

    var ElegantSlider = {


    };
</script>