<div id="poststuff">
    <form id="post-body" class="metabox-holder columns-2">
        <!-- Content -->
        <div id="post-body-content">



            <div id="post-body">
                <div id="post-body-heading">
                    <h3>Slides</h3>
                    <input type="hidden" name="imagess" id="_unique_name">
                    <span class="wp-media-buttons-icon"></span>
                    <div class="huge-it-newuploader uploader button button-primary add-new-image">
                        <input type="button" class="button wp-media-buttons-icon" name="_unique_name_button" id="_unique_name_button" value="Add Image Slide">
                    </div>
                    <a href="admin.php?page=sliders_huge_it_slider&amp;task=popup_posts&amp;id=1&amp;TB_iframe=1" class="button button-primary add-post-slide thickbox" id="slideup2s" value="iframepop">
                        <input title="Add Post" class="thickbox" type="button" value="Add Post">
                        <span class="wp-media-buttons-icon"></span>Add Post Slide
                    </a>
                    <a href="admin.php?page=sliders_huge_it_slider&amp;task=popup_video&amp;id=1&amp;TB_iframe=1" class="button button-primary add-video-slide thickbox" id="slideup3s" value="iframepop">
                        <span class="wp-media-buttons-icon"></span>Add Video Slide
                    </a>
                </div>
                <ul id="images-list" class="ui-sortable">
                    {{#images}}
                        <li class="has-background ui-sortable-handle">
                            <input class="order_by" type="hidden" name="id[]" value="">
                            <div class="image-container">
                                <img src="{{image_url}}">
                                <div>
                                    <input type="hidden" name="image_url[]" value="{{image_url}}">
                                    <span class="wp-media-buttons-icon"></span>
                                    <div class="huge-it-editnewuploader uploader button1 add-new-image">
                                        <input type="button" class="button1 wp-media-buttons-icon editimageicon" name="_unique_name_button1" value="Edit image">
                                    </div>
                                </div>
                            </div>
                            <div class="image-options">
                                <div>{{{name_editor}}}</div>
                                <div>{{{description_editor}}}</div>
                                <div class="link-block">
                                    <label for="sl_url1">URL:</label>
                                    <input class="text_area url-input" type="text" id="sl_url1" name="sl_url1" value="http://animemilwaukee.org/programming/masquerade">
                                    <label class="long" for="sl_link_target1">Open in new tab</label>
                                    <input type="hidden" name="sl_link_target1" value="">
                                    <input class="link_target" type="checkbox" id="sl_link_target1" name="sl_link_target1">

                                    <!--<input type="checkbox" name="pause_on_hover" id="pause_on_hover"  checked="checked"  class="link_target"/>-->
                                </div>
                                <div class="remove-image-container">
                                    <a class="button remove-image" href="admin.php?page=sliders_huge_it_slider&amp;id=1&amp;task=apply&amp;removeslide=1">Remove Image</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                    {{/images}}
                </ul>
            </div>

        </div>

        <!-- SIDEBAR -->
        <div id="postbox-container-1" class="postbox-container">
            <div id="side-sortables" class="meta-box-sortables ui-sortable">
                <div id="slider-unique-options" class="postbox">
                    <h3 class="hndle"><span>Current Slider Options</span></h3>
                    <ul id="slider-unique-options-list">

                        <li>
                            <label for="auto_play">Autoplay Slider</label>
                            <input type="checkbox" name="auto_play" id="auto_play" {{#auto_play}}checked{{/auto_play}}>
                        </li>
                        <li>
                            <label for="auto_play_pause_speed">Pause time</label>
                            <input type="text" name="auto_play_pause_speed" id="auto_play_pause_speed" value="{{auto_play_pause_speed}}" class="text_area">
                        </li>
                        <!--<li>-->
                            <!--<label for="sl_changespeed">Change speed</label>-->
                            <!--<input type="text" name="sl_changespeed" id="sl_changespeed" value="800" class="text_area">-->
                        <!--</li>-->

                        <li>
                            <label for="light_box">Use Light Box?</label>
                            <input type="checkbox" name="light_box" value="on" id="light_box" {{#light_box}}checked{{/light_box}} >
                        </li>
                        <li>
                            <label for="popup_only">Only Use Light Box?</label>
                            <input type="checkbox" name="popup_only" value="on" id="popup_only" {{#popup_only}}checked{{/popup_only}}>
                        </li>
                    </ul>
                    <div id="major-publishing-actions">
                        <div id="publishing-action">
                            <input type="button" onclick="submitbutton('apply')" value="Save Slider" id="save-buttom" class="button button-primary button-large">
                        </div>
                        <div class="clear"></div>
                        <!--<input type="button" onclick="window.location.href='admin.php?page=sliders_huge_it_slider'" value="Cancel" class="button-secondary action">-->
                    </div>
                </div>
            </div>
            <div id="slider-shortcode-box" class="postbox shortcode ms-toggle">
                <h3 class="hndle"><span>Usage</span></h3>
                <div class="inside">
                    <ul>
                        <li rel="tab-1" class="selected">
                            <h4>Shortcode</h4>
                            <p>Copy &amp; paste the shortcode directly into any WordPress post or page.</p>
                            <textarea class="full" readonly="readonly">[huge_it_slider id="1"]</textarea>
                        </li>
                        <li rel="tab-2">
                            <h4>Template Include</h4>
                            <p>Copy &amp; paste this code into a template file to include the slideshow within your theme.</p>
                            <textarea class="full" readonly="readonly">&lt;?php echo do_shortcode("[huge_it_slider id='1']"); ?&gt;</textarea>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
